/*-- scss:defaults --*/

// Quarto Refs
// Bootstrap Variables: https://github.com/quarto-dev/quarto-cli/blob/main/src/resources/formats/html/bootstrap/_bootstrap-variables.scss
// Bootstrap Rules: https://github.com/quarto-dev/quarto-cli/blob/main/src/resources/formats/html/bootstrap/_bootstrap-rules.scss
// How to Handle: https://silviacanelon.com/blog/2023-09-29-hello-quarto/#scss-variables

@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap'); //serif
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap'); //sans-serif

$black : #000000;


$mw-color: #990f3d; //a00000
$mw-color-light: #DFB2B2;
$mw-secondary: #0d7680;
$mw-secondary-light: #7CA6A6;

$mw-dark: #333333;
$mw-light: #fff1e0; //before: f4e9e6
$mw-light-secondary: #F2DFCE;
$font-color: #111111;

$font-family-serif: 'Libre Bodoni', serif;
$font-family-sans-serif: 'Josefin Sans', sans-serif;

$body-font-weight: 600;
$font-size-root: 20px;
$grid-body-width: 700px !default;

$link-color: $mw-color;

$body-bg: $mw-light;
$code-block-bg: $mw-light-secondary; //e1d3d0
$code-bg: $mw-light-secondary;
$code-color: $font-color;

$navbar-bg: $mw-light;
$navbar-fg: $mw-color;
$footer-bg: $mw-light;
$footer-fg: $font-color;

$table-border-width: 0px;
$table-border-color: $mw-color;

/*-- scss:rules --*/

// Navbar and Footer

.navbar {
  border-bottom: 1px solid $black;
  font-family: $font-family-sans-serif;
  text-transform: lowercase;
  font-weight: 600;
  .navbar-title {
    font-family: $font-family-serif;
    font-weight: 700;
    font-style: normal;
    color: $mw-dark;
  }
  a:hover {
    text-decoration: underline solid $mw-color;
  }
}

.footer {
  border-top: 1px solid $mw-dark;
}

// Title Block 

.quarto-title-block {
  padding-bottom: 2em;
  border-bottom: 1px solid $black;
}

.quarto-title {
  padding-bottom: 2em;
}

.quarto-title-meta-heading {
  font-family: $font-family-serif;
  color: $mw-color;
}

.quarto-title-meta-contents {
  font-family: $font-family-serif;
}

// Listing

.quarto-post {
  border-bottom: 1px solid $black !important;

  // scss to style multiple classes at same time
  .listing-title {
    font-family: $font-family-serif;
    font-size: 1.5rem;
  }
  .listing-date {
    font-family: $font-family-serif;
    color: $mw-color;
  }
  .listing-author {
    font-family: $font-family-sans-serif;
  }
}

.card {
  background-color: $mw-light-secondary;
  border: 0px solid black;
  border-radius: 0;
  .listing-date {
    font-family: $font-family-serif;
    color: $mw-color;
  }
}

// General

body {
  font-weight: 350;
  line-height: 1.3;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-family-serif;
  border-bottom: 0 !important;
}

//Smallcaps for em tags in strong tags
strong em {
  font-variant: small-caps;
  font-weight: 700;
  font-style: normal;
  font-family: $font-family-serif;
  letter-spacing: 0.05em;
}

hr {
  margin: 2em 20vw 2em 20vw;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 4px;
  opacity: 1;
}

button {
  border: 1px solid $mw-color;
  padding: 0.2em 1em 0.05em 1em;
  border-radius: 100px;
  background-size: 21px 21px;
  min-width: 60px;
  color: $mw-color;
  margin: 0.2em 0;

  &:hover {
    background-color: $mw-color-light;
  }
}

.table {
  .odd {
    background-color: $mw-light-secondary;
  }
  .header {
    border-bottom: 1px double black;
  }
}

.blockquote {
  border-left: 5px solid $mw-color;
  padding-left: 1rem;
  font-family: $font-family-serif;
  border-radius: .25rem;
  background-color: $mw-light-secondary;
  text-align: center;
  color: black;
  margin: 2em 5vw 2em 5vw;

  em {
  color: $mw-color;
  font-variant: small-caps;
  font-weight: 500;
  letter-spacing: 0.05em;
  }
}

// The line above footnotes etc styled the same as HR
#quarto-appendix.default {
  border-top: 1px solid black;
}

// Custom Classes

.content-block {
  border-bottom: 1px solid black;
  margin-bottom: 2em;
  .h1 {
    text-align: center;
  }
}
